# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs but keep .gitkeep
logs/*
!logs/.gitkeep

# Ignore output but keep .gitkeep  
output/*
!output/.gitkeep

# Ignore input-files but keep .gitkeep
input-files/*
!input-files/.gitkeep